---
# tasks file for deploy-rhel-ec2-instance
- name: Deploy new host on AWS EC2
  block:
  - name: Launch EC2 instance
    amazon.aws.ec2_instance:
       count: "{{ count }}"
       image_id: "{{ image }}"
       instance_type: "{{ instance_type }}"
       key_name: "{{ my_keyname }}"
       network:
         assign_public_ip: no
       region: "{{ region }}"
       security_groups: "{{ security_groups }}"
       tags:
         deployment: "{{ uuid }}"
         os_version: "{{ os_version }}"
         project: "{{ project }}"
         purpose: "{{ purpose }}"
         user: "{{ user }}"
       volumes: "{{ volumes }}"
       vpc_subnet_id: "{{ vpc_subnet_id }}"
       wait: true
    register: ec2

  - name: Set EC2 instance Name
    amazon.aws.ec2_tag:
      region: "{{ region }}"
      resource: "{{ item.instance_id }}"
      state: present
      tags:
        Name: "{{ short_name }}"
    loop: "{{ ec2.instances }}"

# This is a workaround for EC2 returning EC2 instance info without private IP/DNS
- name: Update EC2 instance info
  amazon.aws.ec2_instance_info:
    filters: "{{ filters }}"
    region: "{{ region }}"
  register: ec2_info_updated

- name: Add new EC2 instances to host groups
  include_tasks: add_instance_to_host_groups.yml
  loop: "{{ ec2.instances }}"

